@charset "utf-8";
/* CSS Document */
body{ margin:0px auto; padding:0px; font-family:"微软雅黑"; color:#585858; }
.red_color{  color:#d33e3e;  }
.blue_color{ color:#138ab1;}
.clr{ clear:both;}
input[type="text"]{color:#717171;}
input[type="tel"]{color:#717171;}
.contain{ width:100%; height:auto;  margin:0px auto; padding:0px;}

.top_banner{ width:100%; height:50px; line-height:50px; color:#ffffff; text-align:center; background-color:#0086d0; font-size:20px;}

.ctn_bg{ width:100%; height:130px; margin:0px auto; padding:0px; background:url(../images/wap_yzm/pay_top_bg.png) repeat-x bottom; font-size:16px;}
.ctn_bg dl{ margin:0px auto; padding:0px; width:92%;  }
.ctn_bg dl dt{ height:50px; line-height:50px;}

.ctn_tnr{ margin:0px auto; padding:0px; font-size:18px;}
.ctn_tnr dl{  margin:0px auto; padding:0px; width:90%; }
.ctn_tnr dl dt{  margin:0px auto; padding:0px; }

.tel_input{ width:96%; height:50px; line-height:50px; border:1px solid #bfbfbf; border-radius:6px; font-size:18px; background-color:#ffffff; font-family:'微软雅黑';  padding:0px 0px 0px 10px; margin:0px auto; color:#222222;}
.yzm_input{ width:40%; height:50px; line-height:50px; border:1px solid #bfbfbf; border-radius:6px; font-size:18px; background-color:#ffffff; font-family:'微软雅黑';  padding:0px 0px 0px 10px;  color:#222222; }
.yzm_btn{ -webkit-appearance:none; outline:none; text-align:center; outline:none;  width:50%; height:52px; line-height:52px; background:url(../images/wap_yzm/yzm_btn_bg.png) repeat-x; border:1px solid #bbbbbb; float:right; border-radius:6px;  cursor:pointer;  font-size:18px; font-family:'微软雅黑'; color:#0087d1;}

.qr_bt{ width:100%; height:60px; line-height:60px; background:#209ee5; border: none; border-radius:6px; font-size:18px; font-family:'微软雅黑'; color:#fff;  cursor:pointer; -webkit-appearance:none; outline:none;}
.btm_img{ margin:50px 0px 0px 0px; padding:0px; text-align:center }
.btm_img img{ width:50%; }
/*-------------------------------成功失败样式---------------------------*/
.ctn_bg02{ width:100%; height: auto; margin:0px 0px 20px 0px; padding:0px; background:url(../images/wap_yzm/pay_top_bg.png) repeat-x bottom; font-size:18px; clear:both}


.tip_img{ width:50%; height:auto; margin:0px auto; padding:0px; text-align:center; font-size:24px; color:#3f9f5c; background:red; clear:both;}

.buy_ctn{ width:90%; height:auto; margin:0px auto; padding:0px;}
.buy_ctn dt{ margin:10px 0px 10px 0px; padding:0px;}

.ts_btn{-webkit-appearance:none; outline:none; width:90%; height:auto; margin:0px auto; padding:0px;}
/*----------------------------------wap_direct.css------------------------------------*/
.zs_font{ width:96%; height:auto; margin:0px auto; padding:0px; color:#868686; font-size:16px; line-height:20px;}

img{ border:none;}
.btm_gg{ margin:30px 0px 0px 120px; padding:0px; text-align:left; width:100%;}
.center_img{ width:50%; height:52px; margin:0px 0px 0px 420px; padding:0px; font-size:16px; color:#ed684e; font-weight:800;}
ul,ol{list-style:none;}
table{border:0;border-collapse:collapse;}
p{padding:2px 0;margin:0;}
.blank{ font-size:0px; line-height:0px; clear:both; height:0;}
.npm,ul,ol,form,body,div{padding:0;margin:0;}
.f_l{float:left;}
.f_r{float:right;}
.ml10{margin-left:10px;}
.red,#ERROR{color:#DE0025;}
.t_l{text-align:left;}
.pt10{padding-top:10px; }
.pt20{padding-top:20px; }
.pbt10{padding-bottom:10px; }
.mbt10{margin-bottom:10px;}
.mbt20{margin-bottom:20px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.ml10{margin-left:10px;}
.gry{color:#999;}
.org{color:#fb8c50;}
.line{border-top:1px #b2c4d6 solid;}
.iline{border-top:1px #ccc dotted;}
.bline{border-bottom:1px #ccc dotted;}
a,.zt{text-decoration:none;color:#2b7ed5;}
a:hover,a:focus,a.current,a img,#MAIN .maininfo a:hover,#MAIN .maininfo a:focus,#MAIN .maininfo a.current,#MENU a:focus,#MENU a.current{text-decoration:none;background:#4995e4;color:#fff;}

.buttona{color:#fff;font-weight:700;cursor:pointer; font-size:20px;background:url(../images/wap_direct/btbg.jpg);border:1px #2a6aae solid;}
.buttona{width:100%;height:46px;}
.buttonb{width:94%;height:44px;color:#333333;}
.buttonc{width:28%;height:44px;color:#999999;}
.buttonb,.buttonc{font-weight:700;cursor:pointer; font-size:15px;background:url(../images/wap_direct/btbg2.jpg);border:1px #ccc solid;}
.inputa,.inputb{border:1px #ccc solid; color:#000; line-height:40px; height:40px;font-weight:700;background:url(../images/wap_direct/inputbg.jpg) repeat-x;}
.inputa{width:100%;}
.inputb{width:70%;}
.oisok,.oisno{background:url(../images/wap_direct/icon.jpg) no-repeat 0 0;padding-left:38px;font-size:26px; line-height:40px}
.oisno{background-position:0 -50px;}
.oisok{background-position:0 -2px;}
.posa{ position:relative}